.button,
.buttonLink {
    box-sizing: border-box;
    height: 45px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    width: 85%;
    background-color: #ff803b;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;
}

.button:hover,
.buttonLink:hover {
    background-color: rgb(218, 122, 70);
}

.buttonLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}