.hero {
    height: calc(100vh - 75px);
    color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.title {
    /* background-color: red; */
    text-align: left;
    padding: 2.5% 5% 1% 5%;
}

.title h1 {
    color: #ff803b;
    font-family: 'Fredoka One', cursive;
    font-size: 2.35em;
    margin: 0;
}

.header {
    color: #ff803b;
    font-family: 'Fredoka One', cursive;
    font-size: 2.35em;
}

.title p {
    font-weight: bold;
    color: #555;
    line-height: 1.5;
    font-size: 0.95em;
}

.spacer {
    /* background-color: blue; */
    flex-grow: 0.15;
}

.section, .dotSection {
    min-height: 50vh;
}

.dotSection {
    box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

@media(min-width: 1200px) {

    .title h1,
    .header {
        font-size: 2.5em;
    }

    .title p {
        width: 50%;
        font-size: 1em;
    }

    .spacer {
        flex-grow: 0.4;
    }
}
